{# app/Resources/views/appConfig/create.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <p><a href="{{ path('homepage') }}">Главная</a></p>

    <h1>Создать конфиг</h1>

    {% for type, configList in defaultConfigs %}
        <h3 class="type-title">{{ type }}</h3>

        <ul>
            {% for configName in configList  %}
                <li><a href="{{ path('config_create', {'type': type, 'name': configName}) }}">
                    {{ configName }}
                </a></li>
            {% endfor %}
        </ul>
    {% endfor %}


    <h1>Список конфигов</h1>

    {% for project, envList in filesTree %}
        <h2 class="project-title">{{ project }}</h2>

        {% for env, typeList in envList %}
            <h3>{{ env }}</h3>

            {% for type, configList in typeList %}
                <h3 class="type-title">{{ type }}</h3>

                <ul>
                    {% for config in configList %}
                        <li><a href="{{ path('config_edit', {'project': project, 'env': env, 'type': type, 'name': config}) }}">
                            {{ config }}
                        </a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    <style>
        .project-title {
            background-color: #ddddff;
        }

        .type-title {
            font-size: small;
        }
    </style>
{% endblock %}